.modal-overlay {
    width: 100%;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(10px);
    z-index: 10;
  }
  
  .modal-box {
    z-index: 20;
    background-color: #fff;
    width: 90%;
    max-width: 950px;
    padding: 1rem 0rem 0rem 0rem;
    height: fit-content;
    max-height: 75vh;
    overflow-y: auto;
    border-radius: 4px;
    position: fixed;
    top: -100vh;
    transition: top 0.4s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
  
    button.close-btn {
      background-color: transparent;
      border: none;
      padding: 0;
      position: absolute;
      top: 1.2rem;
      right: 2rem;
    }
  
    &.open-modal {
      top: 12rem;
    }
  }
  