@tailwind base;
@tailwind components;
@tailwind utilities;

h1,h2,h3,h4,h5,h6,p,span{
  margin: 0;
  padding: 0;
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
}
::-webkit-scrollbar {
  width: 15px;

}

/* Handle */
::-webkit-scrollbar-thumb {
  background: lightgray; 
  border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: white; 
}